<mat-card-content class="card-content">
  <mat-card>
    <form [formGroup]="formGroup" (ngSubmit)="onSave()">
      <div>
        <label for="tipo" style="padding-right: 6px">Banco</label>
        <select formControlName="banco">
          <option *ngFor="let banco of bancos" [value]="banco.fullName">
            {{ banco.fullName }}
          </option>
        </select>
      </div>
      <div class="agencia">
        <label style="padding-right: 6px">Agência</label>
        <input type="number" formControlName="agencia" />
      </div>
      <div class="conta">
        <label style="padding-right: 4px">Conta</label>
        <input type="number" formControlName="conta" />
      </div>
      <button
        mat-raised-button
        type="submit"
        style="margin-top: 21px"
        (click)="(onSave)"
      >
        Salvar
      </button>
    </form>
  </mat-card>
</mat-card-content>
