.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.card-content .agencia {
  margin: 10px;
}

.card-content .conta {
  margin-left: 26px;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
