table {
  width: 100%;
}
.list {
  top: 2px;
}
.list .title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.filter {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 14px;
}
.t-filter{ 
  padding-right: 10px;
}